
div#top-frame {
    position: absolute;
    top: 15px;
    height: 20%;
    right: 35px;
    left: 20px;
    width:  100%; 
}

div#left-frame {
    position: absolute;
    top: 20%;
    left: 30px;
    right: 80%;
    height: 70%;
    width:  12%; 
}

div#right-frame {
    position: absolute;
    top: 20%;
    right: 35px;
    left: 20%;
    height: 70%;
    width:  70%;
}

div#bottom-frame {
    position: absolute;
    top: 80%;
    height: 10%;
    width:  100%;
}