<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/copycenter</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>

		<!-- Hibernate Search Setting -->
		<property name="hibernate.search.default.directory_provider">filesystem</property>
		<property name="hibernate.search.default.indexBase">/Users/dipesh/Desktop/indexes</property>


		<mapping class="com.copycenter.pojo.UserAccount" />
		<mapping class="com.copycenter.pojo.PrintOrder" />
		<mapping class="com.copycenter.pojo.PrintJob" />
		<mapping class="com.copycenter.pojo.StoreManager" />
		<mapping class="com.copycenter.pojo.Student" />
		<mapping class="com.copycenter.pojo.Admin" />
		<mapping class="com.copycenter.pojo.EstimateRequest" />
	</session-factory>
</hibernate-configuration>
